@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<div class="jumbotron">
    <h1>NINTEX</h1>
    <p class="lead">This is a test application by Jawad Akhtar</p>
</div>

<p>Use this area to provide additional information.</p>
