@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <abbr title="Phone">P:</abbr>
    +92-333-1267457
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:jawadmohsin@yahoo.com">jawadmohsin@yahoo.com</a>
</address>